/* ......TYPOGRAPHY....... */

*,
*::after*::before {
  box-sizing: border-box;
}

html {
  font-size: 1.5rem;
  box-sizing: border-box;
}

/* colors */
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
}

body {
  font-family: inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  line-height: 1.2rem;
}

h1,
h2,
h3 {
  color: var(--color-heading);
}

h3 {
  margin-bottom: 0.5rem;
}

/* BigScreen media query for typography */
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  h1 {
    font-size: 1rem;
  }
}

/* ......LINKS...... */
a {
  text-decoration: none;
}

.learnMore {
  color: var(--color-accent);
  font-weight: bold;
}
.learnMore::after {
  content: "-->";
  margin-left: 5px;
}

.learnMore:hover::after {
  margin-left: 10px;
  transition-duration: 0.3s;
}

/* BigScreen media query for LINKS */

@media screen and (min-width: 1024) {
  .learnMore {
    font-size: 1rem;
  }
}

/* Badges */

.badges {
  margin: 5px;
}

.badge {
  color: white;
  border-radius: 20px;
  white-space: nowrap;
  padding: 0.25rem 1rem;
  font-weight: 600;
  font-size: 100%;
}

.badgeOne {
  background-color: var(--color-primary);
}

.badgeTwo {
  background-color: var(--color-secondary);
}

/* media query for badges */
@media screen and (max-width: 1024px) {
  .badges {
    font-size: 70%;
  }
}

/* lists */

/* horizontal */
.list {
  padding-left: 0;
  list-style: none;
  color: var(--color-heading);
}

.listItem {
  display: inline-block;
  margin: 5px;
  font-weight: bold;
}

/* tickedlist */
.tickedList {
  list-style-image: url(../pics/tick.svg);
  color: var(--color-heading);
}

.tick-list-item {
  padding-left: 0.5rem;
  margin-bottom: 0.8rem;
}

/* icons */

.icon {
  width: 80px;
  height: 80px;
}

.iconClock {
  fill: var(--color-accent);
}

.clock-container {
  background-color: pink;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

/* buttons */

.btn {
  border-radius: 30px;
  margin-top: 5px;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.btn-buy {
  background-color: var(--color-secondary);
  border: 3px solid var(--color-heading);
  color: white;
  display: inline-block;
  width: 50%;
}

.input-group {
  width: auto;
  margin: 1rem;
  border: 2px grey solid;
  box-shadow: 0 0 20px 10px lightgrey;
  display: flex;
  border-radius: 50px;
}

.input-main {
  margin: 1rem;
  outline: 0;
  flex-grow: 1;
  color: var(--color-heading);
  border: 0;
}

::placeholder {
  color: lightgrey;
}

.btn-search {
  margin: 5px;
  border-radius: 50px;
  background-color: var(--color-accent);
  display: inline-block;
  border: 0;
  color: white;
  font-weight: 600;
}
/* media query for the buttons and input */
@media screen and (min-width: 1024px) {
  .btn,
  .input-main {
    font-size: 105%;
  }
}
