/* ......TYPOGRAPHY....... */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 1.5rem;
  box-sizing: border-box;
}

/* colors */
:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
}

body {
  font-family: inter, Arial, Helvetica, sans-serif;
  color: var(--color-body);
  line-height: 1.2rem;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  padding-left: 0.5rem;
}

h3 {
  margin-bottom: 0.5rem;
}

/* BigScreen media query for typography */
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  h1 {
    font-size: 1rem;
  }
}

/* ......LINKS...... */
a {
  text-decoration: none;
}

.learnMore {
  color: var(--color-accent);
  font-weight: bold;
  margin: 0.5rem;
}
.learnMore::after {
  content: "-->";
  margin-left: 5px;
}

.learnMore:hover::after {
  margin-left: 10px;
  transition-duration: 0.3s;
}

/* BigScreen media query for LINKS */

@media screen and (min-width: 1024) {
  .learnMore {
    font-size: 1rem;
  }
}

/* Badges */

.badges {
  margin: 0.5rem;
}

.badge {
  color: white;
  border-radius: 20px;
  white-space: nowrap;
  padding: 0.25rem 1rem;
  font-weight: 600;
  font-size: 100%;
}

.badgeOne {
  background-color: var(--color-primary);
}

.badgeTwo {
  background-color: var(--color-secondary);
}

/* media query for badges */
@media screen and (max-width: 1024px) {
  .badges {
    font-size: 70%;
  }
}

/* lists */

/* horizontal */
.list {
  padding-left: 0;
  list-style: none;
  color: var(--color-heading);
}

.listItem {
  display: inline-block;
  margin: 5px;
  font-weight: bold;
}

/* tickedlist */
.tickedList {
  list-style-image: url(../images/tick.svg);
  color: var(--color-heading);
}

.tick-list-item {
  padding-left: 0.5rem;
  margin-bottom: 0.8rem;
}

/* icons */

.icon {
  width: 80px;
  height: 80px;
}

/* ....clock icon */
.clock-container {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}
.iconClock {
  fill: var(--color-heading);
}
/* .........computerIcon */
.iconComputer {
  fill: var(--color-accent);
  padding-top: 0.5rem;
}

.computerContainer {
  display: inline-flex;
  margin: 2rem 2rem 0 2rem;
}

/* ...line icon... */
.lineContainer {
  margin: 0.5rem;
}
.lineBox {
  display: flex;
  align-items: center;
  position: relative;
}
.iconLine {
  margin-left: 1rem;
}

.lineContainer-quote {
  color: var(--color-heading);
  font-style: italic;
  margin-bottom: 0;
}
.lineName {
  color: var(--color-accent);
}
.companyName {
  color: darkgrey;
  font-size: 60%;
  position: absolute;
  bottom: -20px;
  left: 120px;
  font-style: italic;
}

.iconQuotes-span {
  background-color: var(--color-accent);
  border-radius: 100%;
  padding: 5px;
  position: absolute;
  fill: white;
  top: 30px;
  right: -40px;
  /* padding: px; */
}

/* .icon .iconQuotes {
  width: 80%;
  height: 80%;
} */

/* media query for icons */
@media screen and (min-width: 1024px) {
  .mediaContainer {
    font-size: 90%;
  }
}

/* buttons */

.btn {
  border-radius: 30px;
  margin-top: 5px;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.btn-buy {
  background-color: var(--color-secondary);
  border: 3px solid var(--color-heading);
  color: white;
  display: inline-block;
  width: 50%;
  margin: 0.5rem 0 0.5rem 1rem;
}

.input-group {
  margin: 1rem;
  border: 2px grey solid;
  box-shadow: 0 0 20px 10px lightgrey;
  display: flex;
  border-radius: 50px;
}

.input-main {
  width: 100%;
  margin: 1rem;
  outline: 0;
  flex-grow: 1;
  color: var(--color-heading);
  border: 0;
}

::placeholder {
  color: lightgrey;
}

.btn-search {
  margin: 5px;
  border-radius: 50px;
  background-color: var(--color-accent);
  display: inline-block;
  border: 0;
  color: white;
  font-weight: 600;
}

/* media query for the buttons and input */
@media screen and (min-width: 1024px) {
  .btn,
  .input-main {
    font-size: 105%;
  }
}

/* card... */
.card-one {
  margin: 2rem;
  margin-bottom: 0;
  width: 20rem;
  height: fit-content;
  border: 0;
  box-shadow: 0 0 20px 10px lightgrey;
  position: relative;
}

.cardHeader {
  padding: 1rem;
  color: white;
  background-color: #00d9ff;
  width: 100%;
  height: 30%;
}
.cardHeader::before {
  content: url(../images/popular.svg);
  width: 35px;
  display: inline-block;
  position: absolute;
  top: -5px;
  right: 5%;
}
p {
  padding: 0.5rem 1rem;
  margin: 0;
}
/* ...grid */
.grid-sec {
  margin-bottom: 1rem;
  max-width: 100%;
  padding: 1rem;
}
.card-two {
  max-width: 100%;
  margin: 2rem;
  height: 100%;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0 20px 10px lightgrey;
}
.man,
.col1 {
  width: 100%;
}
.col1 {
  height: 5rem;
  background-color: gold;
}
.image-container {
  position: relative;
}

@media screen and (min-width: 768px) {
  .grid-sec {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
