* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  font-weight: 500;
}

.nav-bar {
  padding: 10px 24px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}
.navPart1,
.navPart2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.upworkLogo {
  width: 82px;
  margin-right: 20px;
}
.nav-items {
  font-size: 12px;
  font-weight: 600;
  margin: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shevron,
.searchLogo {
  width: 15px;
}
.search {
  position: relative;
  display: flex;
  width: 20rem;
}
.search-field {
  flex-grow: 1;
  height: 35px;
  border: 2px solid lightgray;
  border-radius: 30px;
  padding-left: 35px;
}
.searchLogo {
  width: 20px;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 8px;
}

.searchMenu {
  position: absolute;
  background-color: white;
  border: none;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 8px;
}

.btn {
  border-radius: 25px;
  padding: 10px 25px;
  border: none;
  font-weight: 600;
}
.signUp {
  background-color: green;
  color: white;
  width: fit-content;
}
.logIn {
  width: fit-content;
  background-color: white;
}

@media screen and (max-width: 1200px) {
  .search-field {
    display: none;
  }
  .searchMenu {
    display: none;
  }
  .searchLogo {
    left: 90%;
    width: 25px;
  }
}
@media screen and (max-width: 1024px) {
  .searchLogo {
    left: 124%;
    width: 25px;
    margin-left: 30px;
  }
  .logIn {
    display: none;
  }
}
